/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .tt-menu{
    background-color: #fff;

 }
 .tt-suggestion{
    padding: 6px 6px;
 }
 .tt-suggestion:hover{
   background-color: #0073aa;
   color: #fff;
 }
 .twitter-typeahead{
   width: 100%;
 }
 .tt-menu{
   width: 100%;
   top:102%;
   border: 1px solid #aaa;
 }